/* reservation.css */

body {
  margin: 0;
  font-family: 'Papyrus' ;
  background-image: url('C:\Users\shash\OneDrive\Desktop\Restuarant-Web-App\Restuarant-Web-App\frontend\src\images\background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  color: #fff;
}

.form-container {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgb(61, 28, 28);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 2px;
  color: #eee7e7;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  background-color: rgba(252, 246, 246, 0.747);
  border: 1px solid #ddd;
  color: #131111;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #42113e;
  outline: none;
}

.submit-btn {
  background-color: rgba(211, 138, 140, 0.404);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: rgba(24, 23, 23, 0.37);
}

.footer {
  background-color: #e79223f5;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive Styles */

@media (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}
